body {
  background-image: url('Pokemon_Images/PokemonStadium.jpg');
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: 100vw 100vh;
  background-position: center;
  background-attachment: fixed;
}


#pokeball {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  border-radius: 50%;

}

button {
  background-color: white;
  border: none;
}